<div style="margin: 5px;" id="tophead">
  <button (click)="fetch()">Cào</button>
  <span style="margin-left: 10px;">{{ getStatus() }}</span>
</div>

<div class="tab" id="fixNav">
  <button
    [ngClass]="{ activeTab: isActive(it) }"
    class="tablinks"
    *ngFor="let it of tabs"
    (click)="click(it)"
  >
    {{ it }}
  </button>
  <button>
    <a href="#tophead">Go Top</a>
  </button>
</div>

<div class="tabcontent">
  <div style="margin: 5px;" *ngFor="let item of its">
    <p style="margin-top: 15px;">{{ item.date }}</p>
    <a [href]="item.url">{{ item.url }}</a>
  </div>
</div>
